body {
    padding-top: 20px;
    font-family: "Indie Flower", cursive;
    background-image: url("images/Untitled\ design.png");
    background-attachment: fixed;
}

.container {
    padding-top: 20px;
    background-color: whitesmoke;
    width: 40%;
    padding-bottom: 5px;
}

.container .hr-thick {
    height: 3px;
    color: pink;
    background-color: pink;
    opacity: 1;
    margin-top: -10px;
}

.container .hr-thin {
    height: 1px;
    color: blue;
    background-color: blue;
    opacity: 1;
    margin-top: -25px;
}

.vl {
    border-left: 1px solid red;
    margin-left: 10px;
}

h1 {
    text-align: center;
}

p {
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.5rem;
}

input {
    width: 100%;
    padding-left: 2px;
    font-size: 1.5rem;
}

.input-form {
    padding-left: 10px;
    height: 2.5rem;
}

button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: #f5ba13;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

.form-control {
    font-size: 1.5rem;
}

.col-lg-4 {
    text-align: right;
}

.item {
    cursor: pointer;
}

@media (max-width: 1400px) {
    .container {
        width: 45%;
    }
}

@media (max-width: 1000px) {
    .container {
        width: 55%;
    }
}

@media (max-width: 700px) {
    .container {
        width: 65%;
    }
}

@media (max-width: 500px) {
    .container {
        width: 90%;
    }
}